 body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #fdd5df;
}

h1 {
    text-decoration: underline;
    background-color: #f5f5dc; 
    color: black;
    padding: 20px 0;
}

#img {
    height: 300px;
    width: 200px;
    border: 2px solid black; 
    transition: transform 0.5s;
    cursor: pointer;
}

#img:hover {
    transform: scale(1.2);
}

#cap {
    margin-top: 10px;
    font-weight: bold;
    text-decoration: underline;
}

.main-content {
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: justify;
}

footer {
    background-color: #f5f5dc; 
    color: black;
    padding: 10px 0;
    font-weight: bold;
    margin-top: 20px;
}